@import '../../scss/variables.scss';

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $white;
  border-top: 1px solid $lightGray;
  font-size: 20px;
  padding: 20px;
  position: fixed;
  left: 0;
  bottom: 0;
  height: 60px;
  width: 100%;
  z-index: 999;
}

.sticky-block {
  display: block;
  padding: 20px;
  height: 60px;
  width: 100%;
}